{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Stage 3: Player A's choice of interaction.
{% endblock %}

{% block content %}

    <p>
    You are player A. An this stage, you need to decide which player B you want to interact with.
    Please pick the player B's ID or 0 if you do not want to interact with anyone.
    You can observe player B's history and their current price before you make your decision.
    </p>

    {% formfield player.decision_buy label="Please make your choice." %}

    <p>
    Your payoff in this round is calculated as follows:
        <br>
    You will get {{ Constants.e_b }} if you choose 0 at Stage 3 or when all player B choose O at Stage 1.
    If you choose to interact with a player B, you will receive {{ Constants.u_l }} minus player B's price if that player B chooses X
    and {{ Constants.u_h }} minus player B's price if she chooses Y.
    </p>

    {% next_button %}

{% endblock %}
