{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Stage 2: Player B's sending option
{% endblock %}

{% block content %}

    <p>
    You are Player B. This is Block {{ subsession.block }}. In this stage, you need to decide whether to send your endowment {{ Constants.endowment }} to Player A. The cost of leaving feedback in current round is {{ subsession.feedback_cost }}.
    </p>

    {% if subsession.reward_from_experimenter == 1 %}
        <p>
        <b> The experimenter provides {{ group.reward_amount }} for your feedback. </b> The point will be transferred to you if you decide to send your endowment and leave feedback.
        </p>
    {% else %}
        <p>
        <b> Player A provides {{ group.reward_amount }} for your feedback. </b> The point will be transferred to you if you decide to send your endowment and leave feedback.
        </p>
    {% endif %}

    {% formfield group.invest_amount label="Do you want to send your endowment to Player A?"  %}

    <h6>Player A's Reputation History</h6>
    <table class="table">
        <tr>
            <th>Round</th>
            <th>Reputation</th>
        </tr>
        {% for p in partner_in_block %}
            {% if  p.current_reputation != 0 %}
                <tr>
                    <td>{{ p.round_number }}</td>
                    <td>{{ p.current_reputation }}</td>
                </tr>
            {% endif %}
        {% endfor %}
     </table>

    {% next_button %}

{% endblock %}
