{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Stage 3: Player A's sending back option
{% endblock %}

{% block content %}

    <p>
    In the previous stage, Player B sent {{ group.invest_amount }} to you.
    In this stage, you need to decide how much you want to send back to Player B. For each point you send back, Player B will receive triple points.
    </p>

    {% if subsession.reward_from_experimenter == 1 %}
        <p>
        In stage 1, you provided {{ group.reward_amount }} for Player B's feedback. <b> Player B believes that the reward option is decided by the experimenter. </b>
        </p>
    {% else %}
        <p>
        In stage 1, you provided {{ group.reward_amount }} for Player B's feedback. <b> Player B knows that the reward option is decided by you. </b>
        </p>
    {% endif %}

    {% formfield group.quality_amount label="How much points do you want to send back to Player B?"  %}

    {% next_button %}

{% endblock %}
