{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Stage 1: Player A's reward option
{% endblock %}

{% block content %}

    <p>
    You are Player A. This is Block {{ subsession.block }}. In this stage, please decide whether you want to offer the reward for feedback to Player B.
    </p>

    <p>
    The amount of possible reward in current round is {{ subsession.reward }}. Player B will know the amount of reward you choose before she makes her decision.
    The cost for Player B to leave feedback in current round is {{ subsession.feedback_cost }}.
    </p>

    {% if subsession.reward_from_experimenter == 1 %}
        <p>
        If you decide to offer the reward, <b> the Experimenter will first collect reward from Player A who are willing to offer the reward and send it to Player B who decide to send endowment and leave feedback.
        It works as the following: the reward will be sent in the Experimenter's name.
        Player B will not know your choice of offering the reward but they can get the reward only when you decide to offer it. </b>
        </p>
    {% else %}
        <p>
        If you decide to offer the reward, Player B will receive your transfer if she decides to send her endowment to you and leave feedback.
        <b> Player B will receive the message "The reward is from Player A".
        Similarly, if you choose not to offer reward, Player B will receive the message "There is no reward for feedback from Player A". </b>
        </p>
    {% endif %}

    {% formfield group.reward_amount label="How much reward do you want to offer for feedback to Player B?"  %}

    <h6>Your Reputation History</h6>
    <table class="table">
        <tr>
            <th>Round</th>
            <th>Reputation</th>
        </tr>
        {% for p in player_in_block %}
            {% if  p.current_reputation != 0 %}
                <tr>
                    <td>{{ p.round_number }}</td>
                    <td>{{ p.current_reputation }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    {% next_button %}

{% endblock %}
