{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Stage 4: Player B's choice of X and Y.
{% endblock %}

{% block content %}

    <p>
    At Stage 2, the choice of your price is {{ player.decision_price }}
    </p>

    <p>
    At this stage, please choose between X and Y.
    </p>

    {% formfield player.decision_quality label="Please make your choice." %}

        <p>
    Your payoff in this round is calculated as follows:
        <br>
    You will get {{ Constants.e_s }} if you choose O at Stage 1. You will get 0 if you chooses E at Stage 1 but no player A interacts with you.
    If one or more player A choose to interact with you, for each player A, you will get the price you choose at Stage 2 minus {{ Constants.c_l }} if you chooses X
    and your price minus {{ Constants.c_h }} if you chooses Y.
    Notice that if you have multiple player A interacting with you, your payoff will be multiplied by the number of player A you interact with.
    </p>

    {% next_button %}

{% endblock %}
